<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
 {{>header}}
 <p>This site was create by Luis Fernandes it used mapbox.com and darksky.net data</p>
        <img class="portrait" src="/img/fotografia.jpg">
        </div>
       
        {{>footer}}
    </body>
</html>